.srd-demo-canvas {
  height: 100vh;
  min-height: 300px;
  background-color: rgb(60, 60, 60) !important;
  $color: rgba(white, 0.05);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      $color 25%,
      $color 26%,
      transparent 27%,
      transparent 74%,
      $color 75%,
      $color 76%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;

  .pointui {
    fill: rgba(white, 0.5);
  }
}

.custom-node {
  border: solid 2px gray;
  border-radius: 5px;
  min-width: 70px;
  min-height: 70px;
  position: relative;
  color: white;
  font-family: sans-serif;
  z-index: 20;
  outline: none;
}

.custom-node:active,
.custom-node:focus {
  border-color: rgb(0, 192, 255);
}

.custom-node .title {
  text-align: center;
  background-color: rgb(12, 134, 178);
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
}

.custom-node .port-content {
  padding: 5px 10px;
  font-size: 15px;
  line-height: 25px;
}

.custom-node .port-container {
  height: 16px;
}

.port-content p {
  margin: 0px;
}

.custom-node .port {
  display: inline-block;
  border-radius: 3px;
}

.custom-node .port:hover {
  background-color: rgb(192, 255, 0);
}

.custom-node .port[data-name="in"] {
  width: 20px;
  height: 100%;
}

.custom-node .port[data-name="out"] {
  float: right;
  width: 20px;
  height: 100%;
}

.custom-node-color {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");

.title-header {
  text-align: center;
  font-family: "Volkhov", serif;
}

h1 {
  color: white !important;
}

.canvas {
  height: 105vh;
  margin-left: 2vh;
  margin-right: 2vh;
  zoom: 70%;
}

.player {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  
  background-image: url(./images/black-background.jpg);
  background-color: #2f2f2f;
}

footer {
  text-align: center;
}

.btn {
  width: 75px;
  margin: 0 10px;
  background-color: rgb(12, 134, 178);
}

.btn:hover {
  background-color: rgb(0, 192, 255);
}

.erdBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: 'visible';
}

.erdHeader {
  display: flex;
  background: rgb(30, 30, 30);
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  align-items: center;
}

.erdContent {
  display: flex;
  flex-grow: 1;
}

.erdLayer {
  position: relative;
  flex-grow: 1;
  
}
